# Release

name: Make Release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
      #- "v*.*.*"

permissions:
  contents: write # Required to create releases      

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        
      - name: Build Windows
        run: echo ${{ github.sha }} > Release.txt
        
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: OPA ${{ github.ref_name }}
          draft: True
          files: Release.txt
